$white: #fff;
$bg-white: #fafbfc;
$ice-blue: #ecf0f3;
$aqua: #d1d9e6;
$black: #2d2d2d;
$dark: #272727;
$blue: #1c629e;
$dark-teal: #04b19e;
$yellow: #ffc540;
$tomato: #e0595d;
$gray: #7d7c7c;
$dark-gray: #3f3f3f;
$light-gray: #d4d4d4;
$skeleton-200: rgba(130, 130, 130, 0.2);
$skeleton-300: rgba(130, 130, 130, 0.3);
