$duration: 1.25s;
$transition: left $duration ease;
.mood {
  @apply absolute right-2 top-1 z-50;
}
.main {
  @apply relative h-screen min-h-[500px] w-full overflow-hidden bg-ice-blue p-6 dark:bg-black dark:text-white;
}
.container {
  @apply absolute top-0 flex h-full w-[60%] items-center justify-center bg-ice-blue p-6 transition-all dark:bg-black max-md:w-[calc(100%-80px)];
  transition: $transition, z-index $duration ease;
}

.a_container {
  @apply left-[40%] z-30 max-md:left-20;
}
.b_container {
  @apply left-[40%] z-0 max-md:left-20;
}

.switch {
  @apply absolute left-0 top-0 z-40 flex h-full w-[40%] items-center justify-center overflow-hidden bg-ice-blue p-12  shadow-form transition-transform dark:bg-black dark:shadow-form-dark max-md:w-20 max-md:p-2;
  transition-property: left;
  transition-timing-function: easy;
  transition-duration: 1.25s;
  transform-origin: 0 -100%;
  &__circle {
    @apply absolute -bottom-[60%] -left-[60%] h-[500px] w-[500px] rounded-full bg-ice-blue shadow-circle transition-bg dark:bg-black dark:shadow-circle-dark;
    transition: $transition;
    &_t {
      @apply -top-[30%] left-[60%] h-72 w-72;
    }
  }

  &__container {
    @apply absolute flex w-96 flex-col items-center justify-center px-14 py-12 transition-bg max-md:h-44 max-md:w-12;
    transition: $transition;
  }
}
.is_txr {
  @apply left-[60%] origin-left transition-bg  max-md:left-[calc(100%-80px)];
  transition: $transition;
  transform-origin: 0 100%;
}
.is_txl {
  @apply left-0 origin-right;
  transform-origin: 0 100%;
}
.is_z200 {
  @apply z-40;
  transition: $transition;
}
.is_hidden {
  @apply invisible absolute opacity-0;
  transition: opacity $duration ease;
  transition: $transition;
}
.is_gx {
  /* transition: $transition; */
  animation: is_gx $duration;
}
@keyframes is_gx {
  0%,
  10%,
  100% {
    /* @apply w-[40%]; */
  }
  30%,
  50% {
    @apply w-2/3;
  }
}
