$duration: 1.25s;
$transition: left $duration ease;
.switch {
  @apply absolute left-0 top-0 z-40 flex h-full w-[40%] items-center justify-center overflow-hidden bg-ice-blue   p-12 shadow-form transition-all dark:bg-black dark:shadow-form-dark max-md:w-20 max-md:p-2;
  transition: $transition;
  &__circle {
    @apply absolute -bottom-[60%] -left-[60%] h-[500px] w-[500px] rounded-full bg-ice-blue shadow-circle transition-bg dark:bg-black dark:shadow-circle-dark;
    transition: $transition;
    &_t {
      @apply -top-[30%] left-[60%] h-72 w-72;
    }
  }

  &__container {
    @apply absolute flex w-96 flex-col items-center justify-center px-14 py-12 transition-bg max-md:h-44 max-md:w-12;
    transition: $transition;
  }

  &__button {
    @apply cursor-pointer hover:scale-[0.985] active:scale-[0.97] max-md:h-44 max-md:w-12;
  }
}
